<header class="page-row">
  <h1>Bikes 4 U</h1>
</header>

<main class="page-row page-row-expanded">
  <p>Bikes 4 U has everything you need to cycle your way through Berlin!</p>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-12">
 <%= image_tag("flowersbike.jpeg", class: "img-responsive flowerbike", alt: "Flowers and bike") %>
    </div>
  </div>
 </div>

</main>



