<div class="panel panel-default">
	<div class="panel-body">
		<p id="thank-you">Thank you. We have received your message and will respond as soon as possible.</p>
		<%= image_tag("/assets/thank-you.jpg", class: "img-responsive thanks", alt: "Thank you") %>
	</div>
</div>