.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  font-size: 2em;
}

@font-face {
  font-family: "raty";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/raty.eot");
  src: url("fonts/raty.eot?#iefix") format("embedded-opentype");
  src: url("fonts/raty.svg#raty") format("svg");
  src: url("fonts/raty.ttf") format("truetype");
  src: url("fonts/raty.woff") format("woff");
}

.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "raty";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.cancel-on-png:before {
  content: "\e600";
}

.cancel-off-png:before {
  content: "\e601";
}

.star-on-png:before {
  content: "\f005";
}

.star-off-png:before {
  content: "\f006";
}

.star-half-png:before {
  content: "\f123";
}
/* line 6, /Users/kerihazelton/bikes4u/app/assets/stylesheets/payments.scss */
#paymentbutton {
  padding-left: 19.5%;
}
/* line 3, /Users/kerihazelton/bikes4u/app/assets/stylesheets/products.scss */
#stripebutton {
  padding-top: 1em;
}

/* line 7, /Users/kerihazelton/bikes4u/app/assets/stylesheets/products.scss */
#rating {
  padding-top: 1.5em;
}

/* line 11, /Users/kerihazelton/bikes4u/app/assets/stylesheets/products.scss */
.newprodbutton {
  margin-left: 2em;
}

/* line 17, /Users/kerihazelton/bikes4u/app/assets/stylesheets/products.scss */
#prodlist {
  padding-left: 2.5em;
}

/* line 21, /Users/kerihazelton/bikes4u/app/assets/stylesheets/products.scss */
#new-product {
  height: 100%;
  margin: 0 15%;
}
/* line 1, /Users/kerihazelton/bikes4u/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #black;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /Users/kerihazelton/bikes4u/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /Users/kerihazelton/bikes4u/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /Users/kerihazelton/bikes4u/app/assets/stylesheets/scaffolds.scss */
a {
  color: #black;
}
/* line 24, /Users/kerihazelton/bikes4u/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 28, /Users/kerihazelton/bikes4u/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /Users/kerihazelton/bikes4u/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 40, /Users/kerihazelton/bikes4u/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: red;
}

/* line 44, /Users/kerihazelton/bikes4u/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 50, /Users/kerihazelton/bikes4u/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 58, /Users/kerihazelton/bikes4u/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #black;
}
/* line 69, /Users/kerihazelton/bikes4u/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* line 6, /Users/kerihazelton/bikes4u/app/assets/stylesheets/static_pages.scss */
html,
body {
  height: 100%;
}

/* line 10, /Users/kerihazelton/bikes4u/app/assets/stylesheets/static_pages.scss */
body {
  display: table;
  width: 100%;
  background-color: beige;
  background-position: center;
  background-size: cover;
}

/* line 17, /Users/kerihazelton/bikes4u/app/assets/stylesheets/static_pages.scss */
#about {
  background-image: url("/assets/nola-night.jpg");
  background-position: center;
  background-size: cover;
  padding: 20em;
  width: 100%;
  height: 100%;
}

/* line 25, /Users/kerihazelton/bikes4u/app/assets/stylesheets/static_pages.scss */
#about h1 {
  margin-top: -5em;
  text-align: center;
  color: white;
  font-size: 2.5em;
}

/* line 32, /Users/kerihazelton/bikes4u/app/assets/stylesheets/static_pages.scss */
#about p {
  font-size: 1.5em;
  color: white;
}

@media screen and (max-width: 736px) and (min-width: 159px) {
  /* line 38, /Users/kerihazelton/bikes4u/app/assets/stylesheets/static_pages.scss */
  #about h1, p {
    margin-left: -15%;
  }
}
@media screen and (max-width: 158px) and (min-width: 0px) {
  /* line 44, /Users/kerihazelton/bikes4u/app/assets/stylesheets/static_pages.scss */
  #about h1, p {
    margin-left: -25%;
  }
}
/* line 49, /Users/kerihazelton/bikes4u/app/assets/stylesheets/static_pages.scss */
#contact-page {
  height: 100%;
  border: 2px solid black;
  margin: 0 15%;
}

/* line 56, /Users/kerihazelton/bikes4u/app/assets/stylesheets/static_pages.scss */
.name {
  padding-top: 30px;
}

/* line 60, /Users/kerihazelton/bikes4u/app/assets/stylesheets/static_pages.scss */
#thank-you {
  font-weight: bolder;
  font-size: 1.5em;
}

/* line 65, /Users/kerihazelton/bikes4u/app/assets/stylesheets/static_pages.scss */
.thanks {
  display: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  box-shadow: 4px 18px 88px 12px rgba(0, 0, 0, 0.75);
}

/* line 75, /Users/kerihazelton/bikes4u/app/assets/stylesheets/static_pages.scss */
#contact-form {
  margin: 0 auto;
  padding-left: 25%;
}

/* line 82, /Users/kerihazelton/bikes4u/app/assets/stylesheets/static_pages.scss */
.panel-body {
  padding: 5em;
}

/* line 86, /Users/kerihazelton/bikes4u/app/assets/stylesheets/static_pages.scss */
.panel-heading h1 {
  text-align: center;
}
/* line 21, /Users/kerihazelton/bikes4u/app/assets/stylesheets/users.scss */
#new-user {
  text-align: center;
  margin: 0 25%;
}

/* line 27, /Users/kerihazelton/bikes4u/app/assets/stylesheets/users.scss */
#newuserhead {
  padding-bottom: 1em;
  text-align: center;
}

/* line 32, /Users/kerihazelton/bikes4u/app/assets/stylesheets/users.scss */
.buttonholder {
  text-align: center;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */



body {
	font-family: 'Oxygen', sans-serif;
	font-weight: 400;
	background-color: #ccc;
}

nav {
	font-family: 'Oxygen', sans-serif;
	font-weight: 400;
	color: black;
	padding: 2em;
}
nav a:hover {
	text-decoration: none;
}

.navbar-brand  {
	list-style-type: none;
	font-size: 2em;
}

.nav li {
	font-size: 1.1em;
}

#page-wrap {
	width: 100%;
	margin: 0 auto;
}

#navsearch {
	float: right;
	padding-top: 10px;
	color: grey;

}

#loginhead {
	text-align: center;
}

#loginform {
	display: flex;
	flex-direction: column;
	justify-items: center;
	width: 10%;

}
#orderhead {
	text-align: center;
	padding-bottom: 1em;
}
.orders {
	margin-left: 4em;
	padding: 3em;
}

#signpass {
	text-align: center;
}

footer {
	padding: 2em;
}
