// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#listprod {
	text-align: center;
	color: white;
}

#new-product {
	text-align: center;
}

.prodlist h1, p{
	color: white;
}
