// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html,
body { height: 100%; }


body {
  display: table;
  width: 100%;
  background-image: url("/assets/bikebg.jpg");
  background-position: center;
  background-size: cover;
}



#contactinfo {
	text-align: center;
	color: black;
  margin: 0 auto;

}


#contactinfo ul li {
	list-style-type: none;
}

.page-row {
  display: table-row;
  height: 1px;
}

.page-row h1, p {
	text-align: center;
	color: black;
}

.page-row-expanded { height: 100%; }


.name {
  padding-top: 30px;
}

#thank-you {
  font-weight: bolder;
  font-size: 1.5em;
}

.thanks {
  display: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  box-shadow: 4px 18px 88px 12px rgba(0,0,0,0.75);


}