// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html,
body { height: 100%; }

body {
  display: table;
  width: 100%;
  background-image: url("/assets/vintagebackground.jpg");
  background-size: cover;
}



#contactinfo {
	text-align: center;
	color: black;

}

#contactinfo ul li {
	list-style-type: none;
}

.page-row {
  display: table-row;
  height: 1px;
}

.page-row h1, p {
	text-align: center;
	color: black;
}

.page-row-expanded { height: 100%; }

