// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#userhead, #newuserhead {
	text-align: center;
}

#centerdiv {
	display: flex;
	flex-direction: column;
	justify-items: center;
	width: 30%;
	margin: 0 auto;
}

#back {
	text-align: center;
}

