<p id="notice"><%= notice %></p>

<div id="productindex">
    <% @products.each do |product| %>
     <%= render product %>

  <% end %>


  <p><%= link_to 'New Product', new_product_path %></p>

</div>
