<p id="notice"><%= notice %></p>

<h1 id="listprod">Listing Products</h1>

  <% cache @product do %>
    <% @products.each do |product| %>
     <%= render product %>
    <% end %>
  <% end %>

<div id="new-product">
  <p><%= link_to 'New Product', new_product_path %></p>
</div>
